body {
    margin: 0;
    height: 100%;
}

.bg-dark {
    background-color: #252a41 !important;
}

.dropdown-item-size {
    font-size: large;
}

.logo {
    margin: 0;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.2em;
}
